   <head>
    <title>  Bienvenidos a Gestion de la clinica uleam</title>
    <link rel="shortcut icon " href="logo-gestion-clinica.png">
   </head> 
   <body>
    <div class="container"> 
        <form action="" class="form">
            <p class="form-titulo"> Iniciar Sesion </p>

            <div class="form-imput">
                <input type="mail" id="email">
                <label for="email">Correo electronico</label>
                <p></p>
            </div> <br>

            <div class="form-imput">
                <input type="password" id="paswsword">
                <label for="password">Contaseña</label>
                <p></p>
            </div> <br>

            <div>
                <button type="submit"  class="btn">Iniciar Sesion </button>
            </div>

            <div>
                <button type="submit"  class="btn"> crear cuenta</button>
            </div>
        </form>
    </div>
   </body>

   <app-registrarse></app-registrarse>
   <app-modulo></app-modulo>