<body>
        <div class="container">
            <form action="" class="form" id="form" name="form" onsubmit="return validacion()">
                <p class="form-titulo">REGISTRO DE CITAS MEDICAS </p>
                <div class="form-input">
                    <p>
                        Cédula del paciente: <input type="number" name="patient_ID" id="patient_id" autofocus required/>
                    </p>
                </div>
            
                <div class="form-input"> 
                    <p>
                        Nombre: <input type="text" name="name_control" required/>
                        Apellido: <input type="text" name="lastname" required/>
                    </p>
               </div>
        
                <div class="form-input">
                    <p>
                        Observaciones: <input type="text" name="observations" required/>
                    </p>
                </div>
    
                <div class="form-input"> 
                    <p>
                        Fecha de cita: <input type="date" name="Appointment_date" required/>
                        Horario: Mañana<input type="radio" name="schedule" value="mañana" required>
                        Tarde <input type="radio" name="schedule" value="tarde" required>
                    </p>
                </div>
    
                <div class="form-input">
                    <p>
                        <input type="submit" value="ENVIAR">
                        <input type="button" value="IMPRIMIR" onclick="imprimirPagina();">
                    </p>
               </div>
            </form> 
        </div> 

    <script type="text/javascript">
        function imprimirPagina(){
            window.print();
        }

        function validacedula(){
            valor = document.getElementById("patient_id").value;
            var letras = ['T', 'R', 'W', 'A', 'G', 'M', 'Y', 'F',
             'P', 'D', 'X', 'B', 'N', 'J', 'Z', 'S', 'Q', 'V',
              'H', 'L', 'C', 'K', 'E', 'T'];
            if(!(/^\d{8}[A-Z]$/.test(valor))){
               return false; 
            }
            if(valor.charAt(8) != letras[(valor.substring(0, 8))%23]) {
            return false;
            }
        }
    </script>
</body>